{% extends'base.html.twig' %}

{% block title %}About
{% endblock %}
{% block body %}


	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<div class="nav navbar-nav">
			<a class="nav-item nav-link" href="{{ path('home') }}">Home</a>
			<a class="nav-item nav-link active" href="{{ path('about') }}" aria-current="page">About
				<span class="visually-hidden">(current)</span>
			</a>
		</div>
	</nav>
	<main>

		<div class="row">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Title</h3>
						<p class="card-text">Text</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Title</h3>
						<p class="card-text">Text</p>
					</div>
				</div>
			</div>
		</div>


	</main>

{% endblock %}
